@import "./variables";
@import "./mixins";

.dropdown {
  position: absolute;
  top: 40px;
  z-index: 100;
  display: none;
  .triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $white;
    margin: 0 10px 0 0;
    align-self: flex-end;
  }
  .dd-menu {
    background-color: $white;
    padding: 4px 0;
    @include border(5px, 150px, max-content);
    @include flex(column nowrap, inherit, inherit);
    border-top: 0;
    box-shadow: 0px 0px 10px 0px rgba(229, 229, 229, 0.5);
    p.link {
      color: $dark-sec;
      text-decoration: none;
      padding: 5px 10px;
      margin: 0;
      font-size: $fa-xs;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: $white;
        text-decoration: none;
      }
    }
    p.link.signed-in {
      span {
        font-weight: 500;
      }
      @include borderbottom();
      &:hover {
        background-color: $white;
        color: $dark-sec;
        text-decoration: none;
      }
    }
    .status-box {
      padding: 10px;
      @include borderbottom();
      .set-status {
        @include border(5px, 100%, 28px);
        @include flex(row nowrap, inherit, center);
        color: $dark-pry;
        &:hover {
          color: $blue;
          cursor: pointer;
        }
        .far {
          font-size: $fa-sm;
          margin: 0 8px;
        }
        p {
          font-size: $fa-xs;
        }
      }
    }
    .profile-links {
      padding: 10px 0;
      @include flex(column nowrap, inherit, inherit);
      @include borderbottom();
    }
    .others {
      padding: 10px 0 0 0;
      @include flex(column nowrap, inherit, inherit);
    }
  }
}

#repo-dd.dropdown {
  right: 83px;
  @include responsive($lg) {
    right: 94px;
  }
}

#profile-dd.dropdown {
  right: 33px;
  @include responsive($lg) {
    right: 44px;
  }
}

.show {
  @include flex(column nowrap, inherit, inherit);
}
