@import "./variables";
@import "./mixins";
@import "./nav";
@import "./dropdown";
@import "./content";
@import "./footer";

body {
  padding: 0;
  margin: 0;
  font-family: $font;
}

input {
  padding: 0 9px;
}

img {
  border-radius: 100%;
}
